@import '__item/colors-list__item.sass'
.colorsType__colors-list
    li
        list-style: none
        display: flex
        position: relative
        flex-direction: row
        margin-bottom: 20px
        font-size: 19px
        line-height: 28px
        align-items: center   
        font-weight: 700    
        height: 70px 
        .item-non-bold            
            font-weight: 400