mixin email-form 
    form.email-form
        input.input-form(type="email" name="email" placeholder="Email")
        img.email-form_img( src=require("../images/arrow_forward.png") alt="arrow_forward")