mixin searchRooms 
    h2.searchRooms-h2 Найдём номера под Ваши пожелания
    form
        div
            p Прибытие
            div.input-date 
                input(type="date" name="arrive")
        div
            p Выезд
            div.input-date     
                input(type="date" name="leave")
        p Гости
            select   
                option(value='' disabled=true selected)="Сколько гостей"
                option=1
                option=2
                option=3
                option=4
        +btn("Подобрать номер", 'searchRooms__button', 'submit')