mixin social-block
    div.social-block
        img(src=require("../images/twitter.png") alt="twitter")
        img(src=require("../images/facebook.png") alt="facebook")
        img(src=require("../images/instagram.png") alt="instagram")