include ../blocks/blocks
include ../blocks/libs/_libs

doctype html
html(lang='en')  
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(nam="viewport", content="width=device-width, initial-scale=1.0")
        title Metalamp_html_css
    body
        block header&footer
        block colors&type 
            h1 Layout content
        