include __copyright-bar/footer__copyright-bar
mixin footer 
    footer.footer 
        include __widgets/footer__widgets
        +footer__copyright-bar('footer__copyright-bar')
    footer.footer-mobile
        +logo('logo') 
        +footer__copyright-bar('footer__copyright-bar-mobile', 'footer__p-mobile')