extends ../pug/layout

block mainPage
    section.headerFooter
        +logo-black-and-white
        +header(false)
        +header(true)
        +footer 
    section.colorsType
        +logo-black-and-white
        include ../blocks/colorsType/colorsType
    section.cards                 
        include ../blocks/cards/cards