extends ../pug/layout


block header&footer
    section.headerFooter
        +logo-black-and-white
        +header(false)
        +header(true)
        +footer
block colors&type 
    section.colorsType
        +logo-black-and-white
        include ../blocks/colorsType/colorsType