mixin widget-block(items)
    ul 
        each item in items 
            if(item==logo)
                li
                    +logo("logo widget-block__logo")
            else
                li=item