include ../__nav/_header__nav
-var nav_arr = [['О нас'], ['Услуги', 1], ['Вакансии'], ['Новости'], ['Соглашения']]
mixin header__menu(auth)
    div.header__menu
        +header__nav(auth)
          
        