include ../__nav/_header__nav
include ../__buttons/_header__buttons
-var nav_arr = [['О нас'], ['Услуги', 1], ['Вакансии'], ['Новости'], ['Соглашения']]
mixin header__menu
    div.header__menu
        +header__nav
        +header__buttons