include widget-block/widget-block

block footer__widgets
    div.footer__widgets
        +widget-block([logo, 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»'])
        +widget-block(["Навигация", "О нас", "Новости", "Служба поддержки", "Услуги"])
        +widget-block(["О нас", "О сервисе", "Наша команда", "Вакансии", "Инвесторы", "Служба поддержки", "Соглашения", "Сообщества", "Связь с нами"])
        +widget-block(["Служба поддержки", "Соглашения", "Сообщества", "Связь с нами"])
        +widget-block(["Подписка", "Получайте специальные прелоожения и новости сервиса", feedback])
        